<h1>Capacidades Instaladas</h1>

<%= line_chart Capacity.group_by_month(:date).sum(:percentage)  %>

<%# <%= line_chart @sectors.map { |sector|
    {name: sector.sector.name, data: Capacity.group_by_month(:date).sum(:percentage)}
} %>
