/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* fondo de milei */
 .milei{
    background-image: url(milei.jpg);
    background-attachment: fixed;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* marco de la web */
.marco{
  margin: 0px 1% 1% 1%;
}

.alinear{
  display: flex;
  justify-content: center;
  padding: 23%;
}

/* botones y gráfica lado a lado */
.flex-container {
  display: flex;
}

.flex-child {
  flex: auto;
  padding-top: 20px;
}  

.flex-child:first-child {
  margin-right: 20px;
  padding-top: 10%;
}

/* formato de botones */
.button-gold{
  background-color: rgba(254,243,225,1);
  color: #2a2a2a;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-top: 10px;
}

.button-gold:hover{
  background-color: #e5b80b;
  color: #2a2a2a;
}

.button-home{
  background-color: #4c4c4c;
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button-home:hover{
  background-color: white;
  color: #4c4c4c;
}

/* grupo de botones */
.orden {
  margin-top: 10px;
}